<main>
	<section class="page-section page-section--home">
		<f:if condition="{languageKey} == 'en'">
			<f:then>
				<p><strong><span>Family matters. Business matters.</span></strong></p>
				<p><strong><span>Family Business Matters.</span></strong></p>
				<p><span>Consulting on governance and</span> <span>decision-making processes</span></p>
				<p><span>in family firms.</span></p>
			</f:then>
			<f:else>
				<p><strong><span>Family matters. Business matters.</span></strong></p>
				<p><strong><span>Family Business Matters.</span></strong></p>
				<p><span>Beratung zu Governance und</span> <span>Entscheidungsprozessen</span></p>
				<p><span>in Familienunternehmen.</span></p>			
			</f:else>
		</f:if>
	</section>
</main>


	
